# Basic Python

## 1. Split this string

In [47]:
s = "Hi there Sam!"

In [48]:
print(s.split())

['Hi', 'there', 'Sam!']

*`italicized text`*## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [49]:
planet = "Earth"
diameter = 12742

In [50]:
str = "The diameter of {pname} is {km} kilometers".format(pname = "Earth", km = 12742)
print(str)

The diameter of Earth is 12742 kilometers

## 3. In this nest dictionary grab the word "hello"

In [51]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [52]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

# Numpy

In [53]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [54]:
array = np.zeros(10)
print("An array of 10 zeros:")
print(array)

An array of 10 zeros:
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [55]:
array = np.ones(10)*5
print("An array of 10 fives:")
print(array)

An array of 10 fives:
[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

## 5. Create an array of all the even integers from 20 to 35

In [56]:
array = np.arange(20,35,2)
print("Array of all the even integers from 20 to 35")
print(array)

Array of all the even integers from 20 to 35
[20 22 24 26 28 30 32 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [57]:
x =  np.arange(0, 9).reshape(3,3)
print(x)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

## 7. Concatinate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [58]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
arr = np.hstack((a, b))
print(arr)

[1 2 3 4 5 6]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [59]:
import pandas as pd

In [61]:
#pandas.DataFrame(data, index, columns)
data = [['ram', 20], ['raj', 25], ['ravi', 24]]
df = pd.DataFrame(data, columns=['Name', 'Age'])
print(df)

   Name  Age
0   ram   20
1   raj   25
2  ravi   24

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [62]:
dates = pd.date_range(start ='2023-01-01', end ='2023-02-10',freq = None)
for val in dates:
      print(val)

2023-01-01 00:00:00
2023-01-02 00:00:00
2023-01-03 00:00:00
2023-01-04 00:00:00
2023-01-05 00:00:00
2023-01-06 00:00:00
2023-01-07 00:00:00
2023-01-08 00:00:00
2023-01-09 00:00:00
2023-01-10 00:00:00
2023-01-11 00:00:00
2023-01-12 00:00:00
2023-01-13 00:00:00
2023-01-14 00:00:00
2023-01-15 00:00:00
2023-01-16 00:00:00
2023-01-17 00:00:00
2023-01-18 00:00:00
2023-01-19 00:00:00
2023-01-20 00:00:00
2023-01-21 00:00:00
2023-01-22 00:00:00
2023-01-23 00:00:00
2023-01-24 00:00:00
2023-01-25 00:00:00
2023-01-26 00:00:00
2023-01-27 00:00:00
2023-01-28 00:00:00
2023-01-29 00:00:00
2023-01-30 00:00:00
2023-01-31 00:00:00
2023-02-01 00:00:00
2023-02-02 00:00:00
2023-02-03 00:00:00
2023-02-04 00:00:00
2023-02-05 00:00:00
2023-02-06 00:00:00
2023-02-07 00:00:00
2023-02-08 00:00:00
2023-02-09 00:00:00
2023-02-10 00:00:00

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [63]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [64]:
df = pd.DataFrame(lists, columns =['S.No', 'Name','Age']) 
print(df )

   S.No Name  Age
0     1  aaa   22
1     2  bbb   25
2     3  ccc   24