# Basic Python

## 1. Split this string

In [2]:
s = "Hi there Sam!"

In [3]:
print(s.split())

['Hi', 'there', 'Sam!']

*`italicized text`*## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [10]:
planet = "Earth"
diameter = 12742

In [11]:
S="The diameter of {planetname} is {km} kilometers".format(planetname ="Earth" ,km =12742)

## 3. In this nest dictionary grab the word "hello"

In [8]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [9]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

# Numpy

In [12]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [13]:
Array =np.zeros(10)
print("An Array Of 10 Zeros:")
print(Array)

An Array Of 10 Zeros:
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [14]:
Array =np.ones(10)*5
print("An Array Of 10 Fives:")
print(Array)

An Array Of 10 Fives:
[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

## 5. Create an array of all the even integers from 20 to 35

In [16]:
Dataset = np.arange(20,35,2)
print("Array Of All The Even Integers From 20 To 35")
print(Dataset)

Array Of All The Even Integers From 20 To 35
[20 22 24 26 28 30 32 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [17]:
value = np.arange(0, 9).reshape(3,3)
print(value)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

## 7. Concatinate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [18]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
value=np.hstack((a,b))
print(value)

[1 2 3 4 5 6]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [20]:
import pandas as pd

In [21]:
dataset = [['ram',20],['raj',25],['ravi',24]]
value=pd.DataFrame(dataset,columns=['Name','Age'])
print(value)

   Name  Age
0   ram   20
1   raj   25
2  ravi   24

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [23]:
dates = pd.date_range(start ='2023-01-01', end='2023-02-10',freq =None)
for i in dates:
  print(i)

2023-01-01 00:00:00
2023-01-02 00:00:00
2023-01-03 00:00:00
2023-01-04 00:00:00
2023-01-05 00:00:00
2023-01-06 00:00:00
2023-01-07 00:00:00
2023-01-08 00:00:00
2023-01-09 00:00:00
2023-01-10 00:00:00
2023-01-11 00:00:00
2023-01-12 00:00:00
2023-01-13 00:00:00
2023-01-14 00:00:00
2023-01-15 00:00:00
2023-01-16 00:00:00
2023-01-17 00:00:00
2023-01-18 00:00:00
2023-01-19 00:00:00
2023-01-20 00:00:00
2023-01-21 00:00:00
2023-01-22 00:00:00
2023-01-23 00:00:00
2023-01-24 00:00:00
2023-01-25 00:00:00
2023-01-26 00:00:00
2023-01-27 00:00:00
2023-01-28 00:00:00
2023-01-29 00:00:00
2023-01-30 00:00:00
2023-01-31 00:00:00
2023-02-01 00:00:00
2023-02-02 00:00:00
2023-02-03 00:00:00
2023-02-04 00:00:00
2023-02-05 00:00:00
2023-02-06 00:00:00
2023-02-07 00:00:00
2023-02-08 00:00:00
2023-02-09 00:00:00
2023-02-10 00:00:00

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [24]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [25]:
dataset=pd.DataFrame(lists,columns=['S.No','Name','Age'])
print(dataset)

   S.No Name  Age
0     1  aaa   22
1     2  bbb   25
2     3  ccc   24